<%= render "devise/shared/header" %>
<% if user_signed_in?%>


  <main role="main" class="inner cover">
    
   

    <div class="contents row">
  <% @targets.each do |target| %>
   
    <%= pie_chart @data %>
</div>
    

  <% end %>
</div>

  

</main>


</div>

<%else%>


<h1>売り上げ</h1>
<div class="card bg-dark text-white">
  <img class="card-img" src="" alt="Card image">
  <div class="card-img-overlay">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">画像の上にテキストを重ねることができます。</p>
  </div>
</div>




<h1>売り上げ</h1>
  

<h1>マネージャーより</h2>


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<div class="card" style="width: 18rem;">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
  <div class="card-body">
    <h5 class="card-title"><></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>



<h1>メンバーの声 </h1>

<div class="card">
  <div class="card-header">
    題名
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">ユーザー名 <cite title="Source Title">日付</cite></footer>
    </blockquote>
  </div>
</div>

<h2>リンク声一覧ボタン</h2>
  

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>@All rights reseved for LessMore.inc</p>
    </div>
  </footer>
</div>

<%end%>


<%= render 'devise/shared/footer'%>
